#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
&mt LALT RBKT     &kp Q  &kp W  &kp E        &kp R           &kp T        &kp Y        &kp U          &kp I        &kp O    &kp P     &mt RGUI LBKT
&mt LCTRL GRAVE   &kp A  &kp S  &kp D        &kp F           &kp G        &kp H        &kp J          &kp K        &kp L    &kp SEMI  &mt RCTRL SQT
&mt LSHIFT MINUS  &kp Z  &kp X  &kp C        &kp V           &kp B        &kp N        &kp M          &kp COMMA    &kp DOT  &kp FSLH  &mt RSHIFT BSLH
                                &lt RSE TAB  &mt LGUI SPACE  &lt LWR RET  &lt LWR ESC  &mt RALT BSPC  &lt RSE DEL
            >;
        };

        lower_layer {
            display-name = "SYM";
            bindings = <
&mt LALT EQUAL    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &kp NUMBER_6  &kp N7    &kp N8    &kp N9    &kp N0    &mt RGUI GRAVE
&mt LCTRL PLUS    &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT  &kp CARET     &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &mt RCTRL MINUS
&mt LSHIFT MINUS  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5     &kp F6        &kp F7    &kp F8    &kp F9    &kp F10   &mt RSHIFT F11
                                              &trans        &kp LGUI      &trans     &trans        &kp RALT  &trans
            >;
        };

        raise_layer {
            display-name = "NUM";
            bindings = <
&mt LALT KP_NUM  &kp KP_SLASH     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &kp C_VOL_UP  &kp PRINTSCREEN  &kp HOME  &kp PG_UP  &kp SLCK         &kp RGUI
&mt LCTRL EQUAL  &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS   &kp LEFT      &kp DOWN         &kp UP    &kp RIGHT  &kp INS          &mt RCTRL K_APP
&kp LSHIFT       &kp KP_N0        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT    &kp C_VOL_DN  &kp C_MUTE       &kp END   &kp PG_DN  &kp PAUSE_BREAK  &kp RSHFT
                                             &trans     &kp LGUI   &trans        &trans        &kp RALT         &trans
            >;
        };

        adjust_layer {
            display-name = "ADJ";
            bindings = <
&bootloader  &studio_unlock  &none   &none   &none   &none   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &studio_unlock  &bootloader
&bt BT_CLR   &bt BT_SEL 0    &trans  &trans  &trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &bt BT_SEL 0    &bt BT_CLR
&sys_reset   &bt BT_SEL 1    &none   &none   &none   &none   &mkp MB4        &mkp LCLK       &mkp RCLK     &mkp MB5         &bt BT_SEL 1    &sys_reset
                                     &trans  &none   &trans  &none           &trans          &trans
            >;
        };
    };
};
